.home {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__text-wrapper {
    display: flex;
    justify-content: center;

    h1 {
      color: var(--yellow-theme-main-color);
      margin: 0px;
      font-weight: 500;
      font-size: 8rem;
      line-height: 10rem;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      animation: typingEffectAnimation 2.5s steps(20, end);
    }
  }

  &__contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    button {
      cursor: pointer;
      padding: 10px 70px;
      font-size: 2rem;
      background: transparent;
      color: var(--yellow-theme-main-color);
      border: 1.5px solid var(--yellow-theme-main-color);
      border-radius: 4px;
      font-weight: 500;

      &:hover {
        background: var(--yellow-theme-main-color);
        color: #000000;
      }
    }

    .home__social-links {
      display: flex;
      align-items: center;
      margin-top: 15px;

      a {
        cursor: pointer;
        margin: 0 15px; // Adjust the spacing between icons
        font-size: 2.5rem;
        color: var(--yellow-theme-main-color);
        transition: all 0.3s;

        &:hover {
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .home__text-wrapper h1 {
    font-size: 3rem;
    line-height: 5rem;
    cursor: pointer;
  }
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .home {
    margin-top: 40px;
  }
  .home__text-wrapper h1 {
    font-size: 4rem;
    line-height: 6rem;
    cursor: pointer;
  }
}

@media only screen and (min-width: 300px) and (max-width: 990px) {
  .home__text-wrapper h1 {
    font-size: 6rem;
    line-height: 8rem;
    cursor: pointer;
  }
}

@keyframes typingEffectAnimation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
