.navbar {
  background-color: var(--yellow-theme-nav-background-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;

    &__logo {
      color: var(--yellow-theme-main-color);
      cursor: pointer;
    }

    &__menu {
      display: flex;
      list-style: none;
      text-align: center;

      &__item {
        line-height: 40px;
        margin-right: 1.5rem;
        font-size: 1.6rem;

        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: all 0.5s ease;
        }

        &:hover::after {
          width: 100%;
          background: var(--yellow-theme-main-color);
        }

        &__links {
          color: var(--yellow-theme-main-color);
          text-decoration: none;
          padding: 0.5rem;
        }
      }
    }
  }
}

.nav-icon {
  display: none;
}

@media only screen and (max-width: 300px) {
  .navbar__container__menu {
    display: flex;
    flex-direction: row; /* Change to row to align items horizontally */
    justify-content: space-between; /* Distribute items horizontally */
    align-items: center; /* Center items vertically */
    width: 100%;
    position: center;
    top: 70px;
    left: 100%;
    opacity: 0;
    transition: all 0.5s ease;

    &.active {
      background: #181818;
      left: 3px; /* Add "px" for specifying the position */
      opacity: 1;
    }

    &__item {
      border-bottom: 1px solid #282828;
      margin: 0;
      font-size: 0.7rem; /* Adjust the font size as needed */
      width: 100%;
    }
  }

  .nav-icon {
    display: block;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    font-size: 1rem; /* Adjust the font size as needed */
    padding-right: 10px; /* Adjust as needed */
  }
}

@media only screen and (max-width: 768px) {
  .navbar__container__menu {
    width: 50%; /* Adjust the width as needed to fit the screen */
  }
  .nav-icon {
    padding-right: 10px; /* Adjust as needed */
  }

  .navbar__container__menu {
    display: flex;
    flex-direction: row; /* Change to row to align items horizontally */
    justify-content: space-between; /* Distribute items horizontally */
    align-items: center; /* Center items vertically */
    width: 50%; /* Adjust the width as needed to fit the screen */
    position: absolute; /* Use absolute positioning */
    top: 10px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    opacity: 0;
    transition: all 0.5s ease;

    &.active {
      background: #181818;
      left: 0;
      opacity: 1;
      font-size: 1rem; /* Adjust the font size as needed */
      padding: 10px 0;
    }

    &__item {
      border-bottom: 1px solid #282828;
      margin: 0;
      padding: 5px 0;
    }
  }

  .nav-icon {
    display: block;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    padding-right: 5px; /* Adjust as needed */
  }
}
