.navbar {
  background-color: var(--yellow-theme-nav-background-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 100;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;

    &__logo {
      color: var(--yellow-theme-main-color);
      cursor: pointer;
    }

    &__menu {
      display: flex;
      list-style: none;
      text-align: center;

      &__item {
        line-height: 40px;
        margin-right: 1.5rem;
        font-size: 1.6rem;

        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: all 0.5s ease;
        }

        &:hover::after {
          width: 100%;
          background: var(--yellow-theme-main-color);
        }

        &__links {
          color: var(--yellow-theme-main-color);
          text-decoration: none;
          padding: 0.5rem;
        }
      }
    }
  }
}
.page-content {
  /* Your existing styles for the content */
  position: relative; /* Make the content a positioning context */
  z-index: 1; /* Ensure the content is below the navbar */
}

.nav-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar__container__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    //top: 50%;
    left: 50%;
    right: 50%;

    transform: translateX(50%);
    opacity: 0;
    transition: all 0.5s ease;
    top: 100%; /* Position at the top of the screen */
    left: 100%;
    z-index: 101;

    &.active {
      background: #181818;
      left: 0;
      opacity: 1;
      font-size: 1rem;
      padding: 10px 0;
      align-content: center;
      align-items: center;
    }

    &__item {
      border-bottom: 1px solid #282828;
      margin: 0;
      padding: 5px 0 0 0;
    }
  }

  .nav-icon {
    display: block;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    padding-right: 5px;
  }
}
