.App {
  .inputName,
  .inputEmail,
  .inputDescription,
  .nameLabel,
  .emailLabel,
  .descriptionLabel {
    width: 100%;
  }

  .nameLabel,
  .emailLabel,
  .descriptionLabel {
    font-size: 1.2rem;
    z-index: 3;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    z-index: 999; /* A high value to cover other content */
  }

  /* Media query for small screens */
  @media only screen and (max-width: 768px) {
    .contact__content__form__controlswrapper {
      display: flex;
      flex-direction: column;
      z-index: 3; /* Ensure the form content is below the menu */
    }

    .navbar__container__menu {
      z-index: 3;
    }

    .contact__content__form__controlswrapper div {
      margin-bottom: 1rem;
    }

    .contact__content__form button {
      width: 100%;
    }

    .about,
    .home,
    .resume,
    .portfolio {
      display: flex;
      flex-direction: column;
    }
  }

  height: 100%;

  &__main-page-content {
    height: calc(100% - 80px);
  }

  @media only screen and (max-width: 300px) {
    .contact__content__form__controlswrapper {
      display: flex;
      flex-direction: column;
      z-index: 3; /* Ensure the form content is below the menu */
    }

    .navbar__container__menu {
      z-index: 3;
    }

    .contact__content__form__controlswrapper div {
      margin-bottom: 1rem;
    }

    .contact__content__form button {
      width: 80%;
    }

    .about,
    .home,
    .resume,
    .portfolio {
      display: flex;
      flex-direction: column;
    }
  }

  height: 100%;

  &__main-page-content {
    height: calc(100% - 80px);
  }
}
